<app-header [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/logo.png', width: 89, height: 25, alt: ''}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/logo.png', width: 40, height: 15, alt: ''}" [sidebarToggler]="'lg'"
  [asideMenuToggler]="false">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <i class="fa fa-user-circle-o" style="font-size: 2.4em;"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div *ngIf="!this._loginService.isLoggedIn">
          <a class="dropdown-item" (click)="login()"><i class="fa fa-lock"></i> Login</a>
        </div>
        <div *ngIf="this._loginService.isLoggedIn">
          <a class="dropdown-item" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
        </div>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <cui-breadcrumb>
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        </div>
      </li>
    </cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </main>

</div>
<app-footer>
  <span>2020 &copy; Coupon System Website</span>
  <span class="ml-auto"><b></b></span>
</app-footer>