<div class="row  pl-5 pb-1 pr-5">
    <div class="col-10">
        <form>
            <div class="row">
                <div class="col-2">
                    <label>Choose customer:</label>
                </div>
                <div class="col-5">
                    <div>
                        <mat-form-field>
                            <mat-label>Choose customer to edit</mat-label>
                            <mat-select (selectionChange)="ChooseCustomer($event)" name="option">
                                <mat-option *ngFor="let option of customersList" [value]="option">
                                    {{option.firstName}} {{option.lastName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label>First name:</label>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="First name" [(ngModel)]="selectedCustomer.firstName"
                            [ngModelOptions]="{standalone: true}" name="firstName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label>Last name:</label>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="selectedCustomer.lastName"
                            [ngModelOptions]="{standalone: true}" name="lastName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label>Email:</label>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email" [(ngModel)]="selectedCustomer.email"
                            [ngModelOptions]="{standalone: true}" name="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label>Password:</label>
                </div>
                <div class="col-5">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" [(ngModel)]="selectedCustomer.password"
                            [ngModelOptions]="{standalone: true}" name="ConfirmPassword">
                    </div>
                </div>
            </div>
            <div>
                <button type="button" (click)=updateCustomer() class="btn btn-primary px-4 mr-3">Save customer</button>
                <button type="button" (click)=deleteCustomer() class="btn btn-primary px-4">Delete customer</button>
            </div>
        
        </form>
    </div>
</div>